name: CI

on:
  push:
  pull_request:
    branches: [main, master]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2

      - name: Setup Gleam
        uses: erlef/setup-beam@v1
        with:
          otp-version: "27"
          gleam-version: "1.6.3"

      - name: Install dependencies
        run: gleam deps download

      - name: Build
        run: gleam build

      - name: Test
        run: gleam test
